@using System.Web.Optimization
@using ZaDvermi.Models
@using ZaDvermi.Common
@model List<List<Article>>
@{
    ViewBag.Title = "Plkárna";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6" style="margin-bottom: 15px;padding-left: 0">
            <div class="col-xs-6 col-md-4" >
                <button type="button" class="btn btn-primary create-item-board">
                    <span class="glyphicon glyphicon-comment"></span>
                    Přidat příspěvek
                </button>
               
            </div>
            @if (Html.IsAccessible("Administrator", "Manager"))
            {
                <div class="col-xs-6 col-md-4" >
                    <button type="button" class="btn btn-warning create-item-notification">
                        <span class="glyphicon glyphicon-info-sign"></span> 
                        Přidat oznámení
                    </button>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <!-- BOARD -->
        <div class="col-xs-8 @(Model[3].Count > 0 ? "col-md-9" : "col-md-12") left-panel">
            <div class="row">
                <div class="posts-list" data-next-index="15">
                    @{ Html.RenderPartial("List", Model);}
                </div>
            </div>
               
            <div class="row">
                <div class="col-md-3 col-md-offset-5">
                    <button type="button" class="btn btn-default next-items">
                        Načíst další příspěvky
                    </button>
                </div>
            </div>
        </div>
       
        @if (Model[3].Count > 0)
        {
            <!-- ALERTS and NOTIFICATIONS -->
            <div class="col-xs-4 col-md-3 notifications-panel" >
                <div class="well">
                    @foreach (var post in Model[3])
                    {
                        <div class="alert alert-danger">
                            @Html.Raw(HttpUtility.HtmlDecode(post.Content))

                       
                            @if (Html.IsAccessible("Administrator", "Manager"))
                            {
                                <div style="text-align: right">
                                    <a href="@Url.Action("Delete", "Board", new {id = post.Id})" class="btn btn-default btn-xs delete-button"><span class="glyphicon glyphicon-trash"></span></a>
                                </div>
                            }
                        </div>
                    }
                   
                </div>
            </div>
        }
    </div>
    
    <!-- ADD ITEM on BOARD -->
    <div id="dialog-form-board" title="Přidat příspěvek na nástěnku">
        @if (Html.IsAccessible("Administrator", "Manager"))
        {
            using (Html.BeginForm("AddPost", "Board", FormMethod.Post, new { id = "editor-form-board" }))
            {
                @Html.TextArea("Post", new { @class = "editor" })
            }       
        }
    </div>

    <!-- ADD ITEM on NOTIFICATIONS -->
    <div id="dialog-form-notification" title="Přidat upozornění">
        @if (Html.IsAccessible("Administrator", "Manager"))
        {
            using (Html.BeginForm("AddNotification", "Board", FormMethod.Post, new { id = "editor-form-notification" }))
            {
               
                @Html.TextArea("Post", new { @class = "editor" })
               
                <div class="row" style="margin: 5px 0">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Platnost Od")
                            <div class="input-group">
                                @Html.TextBox("ValidFrom", DateTime.Now, "{0:d.M.yyyy}", new { @class = "form-control date-control"})
                                <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Platnost Do")
                            <div class="input-group">
                                @Html.TextBox("ValidTo", DateTime.Now.AddDays(7), "{0:d.M.yyyy}", new { @class = "form-control date-control"})
                                <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                            </div>
                        </div>
                    </div>
                </div>
            }    
               
        }
    </div>
</div>

@section Plugins
{
    @Scripts.Render("~/bundles/ckeditor")
}

@section JavaScriptToHead
{
    <script type="text/javascript">
        $(document).ready(function() {
            $(".create-item-board").click(function () {
                $("#dialog-form-board").dialog("open");
                return false;
            });
            $(".create-item-notification").click(function () {
                $("#dialog-form-notification").dialog("open");
                return false;
            });

            $(".next-items").click(function() {
                var index = $(".posts-list").attr("data-next-index");
                $.ajax({
                    url: '@Url.Action("List", "Board")',
                    data: { "indexFrom": index },
                    cache: false,
                    success: function (response) {
                        for (var i = 1; i <= 3; i++) {
                            var panels = $(response).find("div[data-panel-number='" + i + "']");
                            var container = $(".posts-list").find("div[data-container-number='" + i + "']");
                            container.append(panels);
                        }
                        $(".posts-list").attr("data-next-index", parseInt(index) + 15);
                       
                    }
                });
                
            });

            $(".delete-button").click(function () {
                if (confirm('Opravdu chceš vymazat příspěvek?')) {
                    return true;
                }
                return false;
            });

            // html editor
            $('textarea.editor').ckeditor();

            // date controls
            $(".date-control").datepicker({
                dateFormat: "d.m.yy"
            });
            $.datepicker.setDefaults($.datepicker.regional["cs"]);
       

            $("#dialog-form-board").dialog({
                autoOpen: false,
                height: 420,
                width: 720,
                modal: true,
                resizable: false,
                buttons: {
                    "Přidat": function () {
                        $('#editor-form-board').submit();
                        $(this).dialog("close");
                    },
                    "Zpět": function () {
                        $(this).dialog("close");
                    }
                }
            });
        
            $("#dialog-form-notification").dialog({
                autoOpen: false,
                height: 500,
                width: 720,
                modal: true,
                resizable: false,
                buttons: {
                    "Přidat": function () {
                        $('#editor-form-notification').submit();
                        $(this).dialog("close");
                    },
                    "Zpět": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    </script>
    	
}




