@using System.Web.Optimization
@model ZaDvermi.Models.Article

@{
   
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@using (Html.BeginForm("Add", "Performance",
                       FormMethod.Post,
                       new {role = "form"}))
{
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="well">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Místo")
                                @Html.TextBoxFor(m => m.Title, new {@class = "form-control"})
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Datum")
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.ValidFrom, "{0:d.M.yyyy}", new {@class = "form-control date-control"})
                                    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.Label("Popis")
                                @Html.TextAreaFor(m => m.Content, new {@class = "form-control editor", id="editorA"})
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <p><a href="#" class="refresh-photo-link">@Html.Label("Fotografie")</a></p>
                                
                                <div class="photo-selector">
                                    @{ Html.RenderAction("PhotoSelector"); }
                                </div>
                                @Html.Hidden("selectedPhotoId", 0, new { id = "selectedPhotoId" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-primary">Uložit</button>
                            <a href="@Url.Action("Index", "Performance")" class="btn btn-default">
                                Zpět
                            </a>
                            @Html.ValidationSummary(true, null, new {@class = "help-block"})
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
}

@section Plugins
{
    @Scripts.Render("~/bundles/ckeditor")
}

@section JavaScriptToHead
{
    <script type="text/javascript">
        $(document).ready(function() {
            // html editor
            $('textarea.editor').ckeditor({
                height: '100px'
            });
            
            // date controls
            $(".date-control").datepicker({
                dateFormat: "d.m.yy"
            });
            $.datepicker.setDefaults($.datepicker.regional["cs"]);

            // photo selector
            initPotoSelector();

            $.ajaxSetup({
                cache: false
            });
            $('.refresh-photo-link').click(function () {
                $(".photo-selector").load('@Url.Action("PhotoSelector")', function () {
                    initPotoSelector();
                });
            });
        });

        function initPotoSelector() {
            $('.photo-link').click(function () {
                $(".photo-selector .panel").removeClass('panel-primary').addClass('panel-default');
                $(this).parents(".panel").removeClass('panel-default').addClass('panel-primary');

                $("#selectedPhotoId").val($(this).data("id"));
            });
        }
    </script>

   
    	
}


