
@using ZaDvermi.Common
@model List<ZaDvermi.Models.Article>

@{
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-8">
                    <h2 id="nav-tabs">Představení</h2>
                </div>
                <div class="col-md-4" style="text-align:right">
                    @if (Html.IsAccessible("Administrator", "Manager"))
                    {
                        <a href="@Url.Action("Add", "Performance")" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span>
                            Přidat představení
                        </a>
                    }
                </div>
            </div>
            <div>
                <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                    <li class="active"><a href="#plan" data-toggle="tab">Plánovaná</a></li>
                    <li class=""><a href="#history" data-toggle="tab">Odehraná</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="plan">
                        <p style="margin-bottom: 20px">Na tato představení se pylně připravujeme a chystáme - opakujeme si texty, ladíme scénu a přešíváme kostýmy. Budeme rádi, když se nás přijdete podívat.</p>
                         @foreach (var performance in Model.Where(p => p.ValidFrom.Value.Date >= DateTime.Now.Date).OrderBy(p=>p.ValidFrom))
                         {
                            <div class="row well">
                                
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>@performance.Title
                                                @if (Html.IsAccessible("Administrator", "Manager"))
                                                {
                                                    <a href="@Url.Action("Delete", "Performance", new { id = performance.Id })" class="btn btn-default btn-xs delete-button"><span class="glyphicon glyphicon-trash"></span></a>
                                                }
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h4>@performance.ValidFrom.Value.ToString("d. M. yyyy")</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Html.Raw(HttpUtility.HtmlDecode(performance.Content))
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-5" style="text-align: right">
                                    <img src="@Url.Action("Download", "File", new {id = (performance.ArticleMedias.Any() ? performance.ArticleMedias.First().MediaItemId : 0) })"  style="width: 250px; height: 180px;" alt="250x180" data-src="holder.js/250x180" class="img-rounded">
                                </div>
                            </div>
                         }
                    </div>
                    <div class="tab-pane fade" id="history">
                        <p style="margin-bottom: 20px">Toto je již za námi. Všude, kde jsme byli, nás čekalo skvělé publikum. Bez diváků by to, co děláme, nedávalo žádný smyle. Děkjume.</p>
                        
                        <ul class="list-group">
                            @foreach (var performance in Model.Where(p => p.ValidFrom.Value.Date < DateTime.Now.Date).OrderByDescending(p => p.ValidFrom))
                            {
                                <li class="list-group-item">
                                    <h3>@(performance.Title) <small>@performance.ValidFrom.Value.ToString("d. M. yyyy")</small></h3>
                                    <p>@Html.Raw(HttpUtility.HtmlDecode(performance.Content))</p>
                                    @if (Html.IsAccessible("Administrator"))
                                    {
                                        <a href="@Url.Action("Delete", "Performance", new { id = performance.Id })" class="btn btn-default btn-xs delete-button"><span class="glyphicon glyphicon-trash"></span></a>
                                        <a href="@Url.Action("LinkArticle", "Performance", new { id = performance.Id })" class="btn btn-default btn-xs link-article" data-value="@performance.Id"><span class="glyphicon glyphicon glyphicon-link"></span> 
                                             @if (performance.LinkedArticle1Id != null)
                                             {
                                                <span>@performance.LinkedArticle1.Title</span>
                                             }
                                            else
                                            {
                                                 <span>Připojit článek</span>
                                             }
                                        </a>
                                        <a href="@Url.Action("LinkPhotoAlbum", "Performance", new { id = performance.Id })" class="btn btn-default btn-xs link-performance" data-value="@performance.Id"><span class="glyphicon glyphicon glyphicon-link"></span> 
                                            @if (performance.LinkedArticle2Id != null)
                                             {
                                                <span>@performance.LinkedArticle2.Title</span>
                                             }
                                            else
                                            {
                                                 <span>Připojit fotoalbum</span>
                                             }
                                            
                                        </a>
                                    }
                                </li>
                            } 
                        </ul>
                    </div>
               
                </div>
            </div>
        </div>
    </div>



     <!-- ADD ITEM on BOARD -->
    <div id="dialog-form-performance-article" title="Připojit článek">
        @using (Html.BeginForm("LinkArticle", "Performance", FormMethod.Post, new { id = "dialog-form-performance-article" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("Id", 0, new { @id = "performance-id" });
            <div class="row" style="margin: 5px 0">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Články")
                        @Html.DropDownList("LinkedArticle1Id", (SelectList)ViewBag.Articles, "... vyber článek", new {@class = "form-control"})
                    </div>
                </div>
            </div>
          
            
        }      
    </div>

</div>

@section JavaScriptToHead
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".link-article").click(function () {
                $("#performance-id").val($(this).data("value"));
                $("#dialog-form-performance-article").dialog("open");

                return false;
            });

            $("#dialog-form-performance-article").dialog({
                autoOpen: false,
                height: 420,
                width: 520,
                modal: true,
                resizable: false,
                buttons: {
                    "Uložit": function () {
                        $('#dialog-form-performance-article').submit();
                        $(this).dialog("close");
                    },
                    "Zpět": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $(".delete-button").click(function () {
                if (confirm('Opravdu chcete vymazat představení?')) {
                    return true;
                }
                return false;
            });
        });
    </script>
}

