@using System.Web.Optimization
@model ZaDvermi.Models.Article

@{
   
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@using (Html.BeginForm("Edit", "Article",
                       FormMethod.Post,
                       new { role = "form" }))
{
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="well">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                @Html.Label("Nadpis")
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", maxlength = "100" })
                                @Html.ValidationMessageFor(m=>m.Title)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" style="padding-top: 35px">
                                @Html.LabelFor(m => m.Published, "Zveřejnit článek")
                                @Html.CheckBoxFor(m => m.Published)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.Label("Úvod")
                                @Html.TextAreaFor(m => m.Preface, new { @class = "form-control", style = "height: 120px" })
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.Label("Článek")
                                @Html.TextAreaFor(m => m.Content, new { @class = "form-control editor", id = "editorA" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <p><a href="#" class="refresh-photo-link">@Html.Label("Fotografie")</a></p>
                                
                                <div class="photo-selector">
                                    @{ Html.RenderAction("PhotoSelector"); }
                                </div>
                                @Html.Hidden("selectedPhotoId", 0, new { id = "selectedPhotoId" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Uložit</button>
                            <a href="@Url.Action("Index", "Article")" class="btn btn-default">
                                Zpět
                            </a>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
}

@section Plugins
{
    @Scripts.Render("~/bundles/ckeditor")
}

@section JavaScriptToHead
{
    <script type="text/javascript">
        $(document).ready(function() {
            // html editor
            $('textarea.editor').ckeditor({
                height: '400px',
                customConfig: "/ckeditor/configWithImages.js",
                extraPlugins: "imagebrowser",
                imageBrowser_listUrl: '@Url.Action("PicturesList", "File")'
            });
            
            // photo selector
            initPotoSelector();

            $.ajaxSetup({
                cache: false
            });
            $('.refresh-photo-link').click(function () {
                $(".photo-selector").load('@Url.Action("PhotoSelector")', function () {
                    initPotoSelector();
                });
                return false;
            });
        });

        function initPotoSelector() {
            $('.photo-link').click(function () {
                $(".photo-selector .panel").removeClass('panel-primary').addClass('panel-default');
                $(this).parents(".panel").removeClass('panel-default').addClass('panel-primary');

                $("#selectedPhotoId").val($(this).data("id"));
                return false;
            });
        }
    </script>
}