@using System.Web.Optimization
@model ZaDvermi.Models.Article
@{
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<div class="container">
     @using (Html.BeginForm("Add", "Photo", FormMethod.Post))
     {
        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Název alba</label>
                        @Html.TextBoxFor(m => m.Title, new {placeholder = "Název", @class = "form-control"})
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Popis</label>
                        @Html.TextAreaFor(m => m.Content, new {placeholder = "Popis", @class = "form-control", style = "height: 100px"})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    @Html.Hidden("listOfPictures", "", new { id = "list-of-pictures"})
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                        Uložit
                    </button>
                </div>
                <div class="col-md-1">
                    <a href="@Url.Action("Cancel","Photo")" class="btn btn-default">
                        <span class="glyphicon glyphicon-floppy-remove"></span>
                        Zpět
                    </a>
                </div>
            </div>
        </div>
     }
    

    @using (Html.BeginForm("Upload", "File", FormMethod.Post, new {id = "fileupload"}))
    {
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Přidat fotografie...</span>
                    <input type="file" Name="files[]" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Nahrát vše</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Zrušit nahrávání</span>
                </button>
               
                <span class="fileupload-process"></span>
            </div>

            <div class="col-lg-5 fileupload-progress fade">
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
                </div>
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
    }

    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td>
                <span class="preview"></span>
            </td>
            <td>
                <p class="name">{%=file.name%}</p>
                <strong class="error text-danger"></strong>
            </td>
            <td>
                <p class="size">Processing...</p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            </td>
            <td>
                {% if (!i && !o.options.autoUpload) { %}
                    <button class="btn btn-primary start" disabled>
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Nahrát</span>
                    </button>
                {% } %}
                {% if (!i) { %}
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Zrušit</span>
                    </button>
                {% } %}
            </td>
        </tr>
    {% } %}
    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            <td>
                <span class="preview">
                    {% if (file.thumbnailUrl) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                    {% } %}
                </span>
            </td>
            <td>
                <p class="name">
                    {% if (file.url) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name %}</a>
                    {% } else { %}
                        <span>{%=file.name%}</span>
                    {% } %}
                </p>
                {% if (file.error) { %}
                    <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td>
                {% if (file.deleteUrl) { %}
                    <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Smazat</span>
                    </button>
                {% } else { %}
                    <button class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Zrušit</span>
                    </button>
                {% } %}
            </td>
        </tr>
    {% } %}
    </script>
    
</div>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even" style="display: none;">
    <div class="slides" style="width: 2880px;"></div>
    <h3 class="title">Penguins.jpg</h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

@section Plugins
{
    @Scripts.Render("~/bundles/imagegallery")
    @Scripts.Render("~/bundles/fileupload")
    
}

@section JavaScriptToHead
{
    <script type="text/javascript">
        $(function() {
            'use strict';
            $('#fileupload').fileupload({
                autoUpload: false,
                disableImageResize: /Android(?!.*Chrome)|Opera/
                .test(window.navigator.userAgent),
                maxFileSize: 5000000,
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i
            });

            $('#fileupload').bind('fileuploaddone', function (e, data) {
                $.each(data.result.files, function (index, file) {
                    var urlsplit = file.url.split("/");
                    var id = urlsplit[3];

                    var storageControl = $('#list-of-pictures');
                    var valueString = storageControl.val();
                    var idList = [];
                    if (valueString != '')
                        idList = valueString.split(';');
                    idList.push(id);
                    storageControl.val(idList.join(';'));
                });
            });
        });
    </script>  
}

