@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
   <title>Divadlo ZA DVEŘMI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
    @Styles.Render("~/bundles/css")
  
</head>
<body>
   
    @RenderBody()
    
    <footer>
        <div class="aligncenter">
            <h4><strong>Osdružení ZA DVEŘMI</strong></h4>   
            <p><span class="glyphicon glyphicon-home"></span> Náměšť na Hané</p> 
            <p><span class="glyphicon glyphicon-globe"></span> www.divadlo-zadvermi.cz</p> 
            <p><span class="glyphicon glyphicon-envelope"></span> zadvermi(at)seznam.cz</p> 
        </div>
    </footer>
    
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/common")
    
    @RenderSection("scripts", required: false)

</body>
</html>